@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Italiana&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

body {
  color: #504b38;
  background-color: #f8f3d9;
}

.active {
  background-color: #504b38;
  color: whitesmoke;
}

select,input,textarea{
  border: 1px solid #504b38;
  border-radius: 4px;
  outline: none;
}
